@import url('https://fonts.googleapis.com/css2?family=Anton&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Mono', monospace;
  transition: all 0.5s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dd1a33;
}

#root {
  overflow: hidden;
}

.animate__animated {
  --animate-duration: 3s;
}

.animate__animated.animate__tada {
  --animate-duration: 6s;
}

.top-bar {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-area {
  display: flex;
  align-items: center;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-area {
  display: flex;
  justify-content: right;
  align-items: center;
}

.black-btn {
  border-radius: 5px;
  border: 4px solid var(--black-3, #000);
  background: var(--black-3, #000);
  padding: 10px 15px;
  margin-right: 10px;
  color: var(--black-0, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: transparent;
    color: #000;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
}

.red-btn {
  //w;
}

.logo {
  margin-top: -40px;
}

.contacts-links {
  //background-image: url("../../public/images/contacts-bg.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 147px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 3px;

  a {
    margin: 20px;

    &:hover {
      opacity: .5;
    }
  }

  img {
    width: 40px;
    height: 40px;
  }

}

.contact-address {
  text-align: right;

  div {
    color: var(--black-2, #403F4C);
    text-align: right;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    line-height: 1;

    span {
      margin-left: 15px;
      cursor: pointer;
      margin-top: 5px;

      &:hover {
        opacity: .5;
        cursor: pointer;
      }
    }

    .copied-message {
      content: "Copied";
      position: absolute;
      top: -36px;
      right: -36px;
      background: #5AC4EC;
      padding: 8px 10px;
      font-size: 15px;
    }
  }
}

.pink-color {
  color: #EA92B6;
}

.red-color {
  color: #DF5537;
}

.white-color {
  color: #FFF;
}

.blue-color {
  color: #5AC4EC;
}

.btn-main {
  border-radius: 5px;
  border: 4px solid var(--black-3, #000);
  box-shadow: -5px 5px 0px 0px #000;
  padding: 10px 20px;
  color: var(--black-3, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;

  &:hover {
    box-shadow: none;
  }
}

.red-btn {
  background: var(--red-primary, #DF5537);
}

.blue-btn {
  background: var(--blue-primary, #5AC4EC);
}

.banner-area {
  padding-bottom: 100px;

  h1 {
    font-family: 'Anton', sans-serif;
    color: #FFF;
    text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, 3px 3px 0 #000;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;

    span {
      font-family: 'Anton', sans-serif;
    }
  }

  p {
    margin-top: 80px;
    color: var(--black-3, #000);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    max-width: 450px;
  }

  .banner-image {
    height: 900px;
  }

  .banner-btns {
    margin-top: 55px;
    margin-bottom: 80px;

    .btn-main {
      margin-right: 40px;
    }
  }

  .animated-area {
    text-align: center;
    position: relative;

    .animated-item {
      position: absolute;
    }
  }
}

.time-money {
  //background-image: url("../../public/images/time-money-bg.svg");
  //background-color: #000;
  background-repeat: no-repeat;
  background-position: center 1px;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin-top: -50px;
  padding-top: 450px;
  padding-bottom: 100px;

  h2 {
    color: var(--pink-primary, #EA92B6);
    text-align: center;
    text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, 3px 3px 0 #000;
    font-size: 180px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    left: 0;
    top: -100px;
    transition: all 0s ease;

    .blue-color {
      width: 100%;
      display: block;
    }

    span {
      transition: all 0s ease;
      font-family: 'Anton', sans-serif;
    }
  }

  .details {
    text-align: center;
    margin: 200px auto;
    border-radius: 5px;
    border: 8px solid var(--black-3, #000);
    background: var(--blue-primary, #000);
    box-shadow: -5px 5px 0px 0px #000;
    padding: 100px 100px 100px 100px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      margin-top: -225px;
      margin-left: -135px;
      width: 270px;
      height: 370px;
    }

    h3 {
      color: var(--black-0, #FFF);
      text-align: center;
      text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, 3px 3px 0 #000;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    h4 {
      color: var(--black-3, #FFF);
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 20px auto;
      max-width: 600px;

    }

    p {
      color: var(--black-3, #FFF);
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      margin: 30px auto;
      max-width: 700px;
    }
  }

  .details-item {
    display: flex;
    justify-content: start;
    padding: 30px 10px;
    margin: 50px 0;
    max-width: 600px;

    img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }

    p {
      color: var(--black-3, #000);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }
  }

  .yellow-bg {
    border-radius: 5px;
    border: 4px solid var(--yellow-1, #FDBC26);
    background: var(--yellow-1, #FEE89A);
    box-shadow: -5px 5px 0px 0px #FDBC26;
    transform: rotate(-3deg);
  }

  .blue-bg {
    border-radius: 5px;
    border: 4px solid var(--blue-1, #19A6DC);
    background: var(--blue-1, #A4DEF4);
    box-shadow: -5px 5px 0px 0px #19A6DC;
    transform: rotate(3deg);
  }
}

.how-to-play {
  background-color: #000;
  padding-bottom: 200px;
  padding-top: 250px;

  .how-to-play-item {
    padding: 20px;
    color: #FFF;

    img {
      width: 100%;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 20px;
      margin-top: 15px;
    }

    p {
      margin-top: 15px;
    }
  }
}

.slots-area {
  background-image: url("../../public/images/slots-bg.svg");
  background-repeat: no-repeat;
  background-color: #DF5537;
  background-size: 100%;
  padding-top: 50px;

  .slots-inside {
    background-color: #EA92B6;
    padding-bottom: 50px;
  }

  .slots-warning {
    text-align: center;
    margin: 40px 0;

    a {
      color: #FFF;
      font-weight: 600;

      &:hover {
        color: #555;
      }
    }
  }

  h3 {
    font-family: 'Anton', sans-serif;
    background-repeat: no-repeat;
    color: var(--black-0, #FFF);
    text-align: center;
    text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, 3px 3px 0 #000;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 100px;
    padding-top: 100px;
  }

  .slot-item {
    border-radius: 5px;
    border: 4px solid var(--black-3, #000);
    background: var(--black-0, #FFF);
    text-align: center;
    padding: 50px 30px 30px 30px;
    position: relative;
    margin: 20px;

    .iekbcc9 {
      border-radius: 5px;
      border: 4px solid var(--black-3, #000);
      background: var(--black-3, #000);
      height: 52px;
      margin-right: 10px;
      color: var(--black-0, #FFF);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration: none;
      text-align: center;
      font-family: 'Red Hat Mono', sans-serif;
    }

    .tier {
      position: absolute;
      top: 0;
      left: 50%;
      text-align: center;
      margin-left: -55px;
      margin-top: -25px;
      color: var(--black-3, #000);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.9px;
      border-radius: 5px;
      border: 4px solid var(--black-3, #000);
      background: var(--yellow-primary, #FEDB63);
      padding: 10px 20px;
    }

    img {
      height: 237px;
    }

    h5 {
      color: var(--black-3, #000);
      text-align: center;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
    }

    h6 {
      color: var(--black-2, #403F4C);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 15px;
    }

    .break {
      margin: 30px 0;
      display: block;
      height: 2px;
      background-color: #FEDB63;
    }

    .price {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--black-3, #000);
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 20px;

      img {
        width: 40px;
        margin-right: 20px;
        height: auto;
      }
    }

    button {
      width: 100%;
      margin: 15px 0;
    }
  }
}

.lottery-area {
  background-image: url("../../public/images/lottery-top-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #EA92B6;
  padding-top: 10vh;

  .lottery-area-inside {
    background-color: #FEDB63;
    text-align: center;

    .rotate-image {
      width: 120%;
      margin-left: -10%;
      animation: rotate-block 15s linear infinite;
    }

    .lottery-container {
      position: relative;

      .lottery-details {
        position: absolute;
        width: 65%;
        background-color: #FFF;
        left: 17.5%;
        top: 26%;
        border-radius: 10px;
        border: 4px solid var(--black-3, #000);
        background: var(--black-0, #FFF);
        padding-bottom: 50px;

        div {
          position: relative;
        }

        .corner-points {
          content: "";
          position: absolute;
          width: 30px;
          height: 35px;
          background-image: url("../../public/images/lottery-point.svg");
          background-repeat: no-repeat;
          background-position: center center;
        }

        .point-1 {
          top: 30px;
          left: 30px;
        }

        .point-2 {
          top: 30px;
          right: 30px;
        }

        .point-3 {
          bottom: 30px;
          right: 30px;
        }

        .point-4 {
          bottom: 30px;
          left: 30px;
        }

        h3 {
          color: var(--blue-primary, #5AC4EC);
          text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, 3px 3px 0 #000;
          font-size: 64px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 30px;

          span {
            font-family: Anton, sans-serif;
            margin: 0 10px;
          }

          img {
            margin: 0 30px;
          }
        }

        .block-list {
          margin-top: 30px;
          padding: 30px;

          .red-block {
            border-radius: 5px;
            border: 2px solid var(--black-3, #000);
            background: var(--red-primary, #DF5537);
            box-shadow: -3px 3px 0px 0px #000;
            margin-right: 20px;
            height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .yellow-block {
            border-radius: 5px;
            border: 2px solid var(--black-3, #000);
            background: var(--yellow-primary, #FEDB63);
            box-shadow: -3px 3px 0px 0px #000;
            margin-bottom: 20px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          .blue-block {
            border-radius: 5px;
            border: 2px solid var(--black-3, #000);
            background: var(--blue-primary, #5AC4EC);
            box-shadow: -3px 3px 0px 0px #000;
            height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          h4 {
            color: var(--black-3, #000);
            text-align: center;
            font-family: Anton, sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }

          p {
            color: #000;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }

          h5 {
            color: var(--black-3, #000);
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
          }
        }
      }

      .lottery-warning {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #A4DEF4;
        padding: 10px;
        color: var(--black-3, #000);
        font-size: 16px;
        font-weight: 700;
        line-height: 150%;

        p {
          margin: 0 15px;
        }
      }

      .bottom-heading {
        text-align: center;
        text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, 3px 3px 0 #000;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-transform: uppercase;
        margin-top: 30px;

        span {
          font-family: Anton, sans-serif;
        }
      }

      .lottery-time-item {
        border-radius: 5px;
        border: 4px solid var(--black-3, #000);
        background: var(--blue-primary, #5AC4EC);
        box-shadow: -3px 3px 0px 0px #000;
        max-width: 160px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 160px;

        h6 {
          color: var(--black-3, #000);
          text-align: center;
          font-family: Anton, sans-serif;
          font-size: 56px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }

        p {
          color: var(--black-3, #000);
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          line-height: 150%;
          text-transform: uppercase;
        }
      }

      .lottery-time-image {
        max-height: 450px;
        position: absolute;
        left: 15%;
      }
    }
  }
}

@keyframes rotate-block {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.roadmap-area {
  background-image: url("../../public/images/roadmap-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 500px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .title {
    width: 400px;
  }

  .roadmap-area-inside {
    .roadmap-list {
      margin-top: 50px;
    }

    .roadmap-item {
      width: 100%;
      min-height: 500px;
      background-image: url("../../public/images/roadmap-item-bg.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
      display: flex;
      margin: 20px 0;
      fill: #FFF7EA;
      filter: drop-shadow(0px 8px 16px rgba(24, 39, 75, 0.08)) drop-shadow(0px 6px 8px rgba(24, 39, 75, 0.12));

      .roadmap-img-part {
        width: 50%;
        position: relative;

        img {
          width: 140%;
          position: absolute;
          right: 0;
          top: -6%;
        }
      }

      .roadmap-list-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid #E5CEA3;
        margin: 60px 0;

        h4 {
          color: #242424;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
          margin-bottom: 50px;
          text-align: left;
          padding-left: 30px;
        }

        ul {
          list-style-image: url('../../public/images/bullet.png');
          text-align: left;
          padding-left: 30px;

          li {
            color: var(--black-3, #000);
            font-size: 17px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            margin-bottom: 20px;
            padding-left: 10px;
          }
        }
      }
    }

    .roadmap-arrow {
      display: flex;
      height: 100%;
      padding: 30px;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
      }
    }
  }
}

.bottom-block-area {
  background-image: url("../../public/images/bottom-block-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #DF5537;
  padding-top: 80px;
  text-align: center;

  .bottom-block-area-inside {
    min-height: 500px;
    background-color: #5AC4EC;
    position: relative;

    h3 {
      color: var(--pink-primary, #EA92B6);
      text-align: center;
      text-shadow: 7px 7px 0 #000, -3px -3px 0 #000, -3px 3px 0 #000, 3px -3px 0 #000, 3px 3px 0 #000;
      font-size: 180px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      text-transform: uppercase;
      position: absolute;
      width: 100%;
      left: 0;
      top: -180px;

      span {
        font-family: Anton, sans-serif;
        margin: 0 10px;
      }
    }

    button {
      margin-top: 340px;
      margin-bottom: 140px;
      color: var(--black-3, #000);
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-radius: 10px;
      border: 4px solid var(--black-3, #000);
      background: var(--red-primary, #DF5537);
      box-shadow: -5px 5px 0px 0px #000;
      padding: 20px 30px 20px 80px;
      cursor: pointer;
      background-image: url("../../public/images/bunny-button-icon.png");
      background-repeat: no-repeat;
      background-size: 50px;
      background-position: 15px center;

      &:hover {
        background-color: #EA92B6;
        box-shadow: none;
      }
    }
  }
}

.footer-area {
  //background-color: #000;
  padding-top: 55px;
  padding-bottom: 40px;
  border-top: 3px solid #000;
  //color: #FFF;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    p {
      margin-top: 20px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

.connect-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.slot-brought-message {
  border-radius: 5px;
  border: 1px solid var(--black-3, #000);
  background: var(--green-primary, #0A8754);
  box-shadow: -3px 3px 0px 0px #000;
  color: var(--black-0, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.9px;
  padding: 13px;
  margin-bottom: 20px;
  margin-top: 30px;
}


.loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #5AC4EC;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  .loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-bottom: 4px solid #DF5537;
    border-left: 4px solid transparent;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.soldOut {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #DF5537;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: 130%;
    text-transform: uppercase;
    border: 4px solid #DF5537;
    padding: 20px 50px;
  }
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #DF5537;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.burgher-area {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 35px;
  position: relative;

  .drawer {
    position: absolute;
    width: 350px;
    height: 235px;
    background-color: #000;
    border-radius: 130px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 120px;
    right: -370px;
    z-index: 3;
    transition: all 0.2s ease;

    a {
      width: 50%;
      margin: 3px 0;
      font-size: 18px;
      color: #000;
      transition: all 200ms ease;

      &:hover {
        color: #DF5537;
      }
    }
  }

  .open-drawer {
    right: 0;

    a {
      transition: all 1000ms ease;
      color: #FFF;
    }
  }
}


.modal-inside {
  font-family: 'Red Hat Mono', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  background-color: #FFF;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;

  .black-btn {
    margin-bottom: 20px;
  }
}

.modal-text {
  max-height: 400px;
  overflow-x: scroll;
  border: 1px solid #DDD;
  padding: 15px;
  margin-bottom: 40px;
  transition: none;

  p {
    font-size: 14px;
    margin-bottom: 15px;
    transition: none;
  }

}

.checkbox-input {
  margin-bottom: 20px;

  span {
    font-family: 'Red Hat Mono', sans-serif !important;
  }
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #5AC4EC !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

.lottery-area-inside:hover .lottery {
  right: 0;
}

.lottery {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 35%;
  background-image: url("../../public/images/lottery-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 170px;
  color: var(--black-0, #FFF);
  text-align: center;
  font-family: Anton, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding-top: 20px;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }

  a {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.initial-popup {
  width: 350px;
  min-height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5AC4EC;
  padding: 50px 10px;
  font-size: 18px;
  overflow: scroll !important;
  border-radius: 5px;
  color: #000;
  font-family: 'Source Code Pro', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  border: none;
  outline: none;
  text-align: center;

  p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    font-size: 29px;
  }

  a {
    margin-top: 30px;
    display: block;
    width: 100%;
  }
}